@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6f7;
  --foreground: #0f0f10;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
